body 
{
 background-color:lightgreen;
}

#aal
{
border: 3px solid red;
padding:10px;
background-color:pink;
	
}


#tt
{
text-align:center;
background-color:white;
font-family:Stencil;
border: blue 5px solid;

}

iframe
{
width:900px;
height:400px;
margin-left:300px;
	
		
}




#der
{
font-size:20px;
font-family:AcmeFont;
border: 3px  darkorange dashed;
padding:15px;
background-color:lightblue;
width:60px;
height:400px;
margin-top:-415px;
	
}
a
{
color:darkgreen
}
a:hover
{
	font-family:AcmeFont;
	color:red;
	font-size:30px;	
}


#rrm
img
{
width:40px;
height:40px;
margin-left:1200px;
}


#mm
img
{
width:40px;
height:40px;
margin-left:1200px;
}


#vvcl
img
{
width:180px;
height:320px;
margin-left:550px;
border: 5px blue solid

}







h2
{
font-family:Informal Roman;
font-style:oblique;
margin-left:1142px;
color:darkred;
}
h3
{
font-family:Stencil;
margin-left:1180px;
color:darkblue;
}

form
{
color:purple;
border: 3px red solid;
width:300px;
height:200px;
padding:7px;
font-size:20px;
margin-top:-60px;
}

h4
{
font-family:Stencil;
background-color:darkblue;
width:500px;
height:30px;
text-align:center;
color:white;
margin-top:-45px;
margin-left:500px;
}